* {
  text-align: center;
  background-color: #000000;
  color: #fefdf6;
}

.App{
  width: 100vw;
  height: 100vh;
}

.home{
  display: block;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
}

.opt{
  display: inline-block;
}

button{
  width: 19rem;
  height: 6rem;
  border: #fefdf6 solid 2px;
  font-size: 1.3rem;
  margin: 3rem;
  padding: auto;
}